extends ../../layout/default.pug
include ../../mixins/alert.pug

block main 
    +alert-error("5000")
    +alert-succses("5000")

    
    h1(class="mb-4") SửaSửa sản phẩm 
    form(action=`${prefixAdmin}/product/edit/${product._id}?_method=PATCH` method="POST" id="create-product" enctype="multipart/form-data")
        .mb-4
            label(for="name") Tên sản phẩm 
            input#name(type="text" name="name" class="form-control" placeholder="Nhập tiêu đề" value= product.name )
        .mb-4
            label(for="category") Tiêu Đề 
            input#category(type="text" name="category" class="form-control" value=product.category )
        .mb-4 
           
            div(class ="form-ground" upload-image)
        .mb-4
            label(for="image") Ảnh
            input#image.form-control-file(type="file" name="image" upload-image-input class="form-control" accept="image/*" )
            img(src =product.image upload-image-preview width="100" height="100")

        .mb-4
            label(for="price") Giá
            input#price(type="number" name="price" class="form-control" placeholder="Nhập giá" min="0" value= product.price )
        .mb-4
            label(for="position") Vị Trí
            textarea#position(name="position" class="form-control" rows="5" placeholder="Nhập mô tả sản phẩm" ) #{product.position}
        .mb-4
            label(for="description") Mô tả
            textarea#description(name="description" class="form-control" rows="5" placeholder="Nhập mô tả sản phẩm" ) #{product.description}
        .mb-4
            label(for="status") Trạng thái
            select#status(name="status" class="form-control" reqired)
                option(value="Hoạt động") Hoạt động
                option(value="Ngừng Hoạt Động") Ngừng Hoạt Động

        button(type="submit" class="btn btn-primary mt-4") Cập nhật 

    script(src="/admin/js/product.js")
