extends ../../layout/default.pug

block main
  h1(class="mb-4") Thông tin cá nhân

  if (user.avatar)
    img(src=user.avatar width="150px" class="mb-3")
  else
    img(src="/admin/images/avatar.png" width="150px" class="mb-3")

  if (user.fullName)
    p Họ tên: 
      b #{user.fullName}

  if (user.email)
    p Email: 
      b #{user.email}

  if (user.phone)
    p Số điện thoại: 
      b #{user.phone}

  span Trạng thái:
  span
    b #{user.status === "active" ? "Hoạt động" : "Dừng hoạt động"}

  if (role && role.title)
    p Phân quyền: 
      b #{role.title}

  a.btn.btn-primary(
    href=`${prefixAdmin}/my_account/edit`
    role="button"
  ) Chỉnh sửa 
