extends ../../layout/default.pug

block main
  .container.mt-4
    h1.text-center.text-primary Role
    a(
      href=`${prefixAdmin}/roles/create`
      class="btn btn-outline-success float-right"
    ) Thêm mới

    table.table
      thead
        tr
          th(scope="col") STT
          th(scope="col") Nhóm quyền
          th(scope="col") Mô Tả
          th(scope="col") Hành động

      tbody.table-group-divider
        each record, index in records
          tr
            td= index + 1 
            td= record.title 
            td= record.description 
            td
              a.btn.btn-outline-primary(href=`${prefixAdmin}/roles/details/${record._id}`) Chi tiết
              a.btn.btn-outline-primary(href=`${prefixAdmin}/roles/edit/${record._id}`) Sửa
              a.btn.btn-outline-danger.ml-2(href=`${prefixAdmin}/roles/delete/${record._id}`) Xóa
