extends ../../layout/default.pug
include ../../mixins/alert.pug
block main
  +alert-succses("5000")
  .container.mt-4
    h1.text-center.text-primary.text-2xl.font-bold.mb-5 Quản lý quyền truy cập

    if records
      div(data-records= records)
        table.border-collapse.border.border-gray-400.w-full(table-permission)
          thead.bg-gray-200
            tr
              th.border.border-gray-400.px-4.py-2 Tính năng
              each item in records
                th.border.border-gray-400.px-4.py-2 #{item.title}
          tbody
            //- Danh mục sản phẩm
            tr(data-name="id")
              td.border.border-gray-400.px-4.py-2 Danh mục sản phẩm
              each item in records
                td.border.border-gray-400.px-4.py-2.text-center
                  input(type="text", data-name=`${item.title}_category`, value=item.id, class="w-full p-2 border rounded")
            //- Xem
            tr(data-name="product-category_view")
              td.border.border-gray-400.px-4.py-2 Xem
              each item in records
                td.border.border-gray-400.px-4.py-2.text-center
                  input(type="checkbox", name=`view_${item.id}`, checked=item.canView)
            //- Thêm mới
            tr(data-name="product-category_add")
              td.border.border-gray-400.px-4.py-2 Thêm mới
              each item in records
                td.border.border-gray-400.px-4.py-2.text-center
                  input(type="checkbox", name=`add_${item.id}`, checked=item.canAdd)
            //- Chỉnh sửa
            tr(data-name="product-category_edit")
              td.border.border-gray-400.px-4.py-2 Chỉnh sửa
              each item in records
                td.border.border-gray-400.px-4.py-2.text-center
                  input(type="checkbox", name=`edit_${item.id}`, checked=item.canEdit)
            //- Xóa
            tr(data-name="product-category_delete")
              td.border.border-gray-400.px-4.py-2 Xóa
              each item in records
                td.border.border-gray-400.px-4.py-2.text-center
                  input(type="checkbox", name=`delete_${item.id}`, checked=item.canDelete)
      .mt-5.flex.justify-center
        button.bg-success.text-white.px-4.py-2.rounded.shadow-md(type="submit", btn-submit) Cập nhật
    else
      p.text-center.text-danger Không có dữ liệu để hiển thị
  form(id="form-change-permissions"
        method ="POST"
        action=`${prefixAdmin}/roles/permissions?_method=PATCH`
        class ="d-none"
        )
    div(class="form-group")
      input(type="text"
        class = "form-control"
        name="permissions")
    script(src="/admin/js/role.js")
