extends ../../layout/default.pug
include ../../mixins/box-header.pug

block main
    +boxHeader('Khóa Học')

    .container.mt-4
        h1.text-center.text-primary Khóa học của tôi

        // Link to trash
        a(href="/me/trash/courses") Thùng rác(#{countDelete})
        
        form#containerForm(action="/courses/handle-form-actions" method="POST" name="form-container")
            // Container for checkbox and dropdown
            .d-flex.align-items-center.mt-3
                // Checkbox to select all
                .me-3
                    input(type="checkbox" name="selectAll" id="selectAll")
                    label(for="selectAll") Chọn tất cả 

                
                    select.text-center(id="courseFilter" aria-label="Filter courses" style="width: auto;" name="action"  required)
                        option(value="") --Hành động --
                        option(value="delete") Xóa

                // Apply button
                button.btn.btn-primary.btn-sm.ms-3.btn-check-all-submit.disabled Áp dụng

        // Check if courses are empty
        if courses.length === 0
            .alert.alert-warning.text-center
                p Bạn chưa đăng khóa học nào.
                a(href="/courses/create") Đăng khóa học

        // Table of courses
        table.table
            thead
                tr
                    th(scope="col") Chọn
                    th(scope="col") STT
                    th(scope="col") Tên khóa học
                    <i class="bi bi-arrow-down-up"></i> 
                    th(scope="col") Trình độ
                    th(scope="col") Thời gian xóa
                    th(scope="col") Hành động
            tbody.table-group-divider
                each item, index in courses
                    tr
                        // Checkbox for each row
                        td
                            
                                input.check-box-Item(type="checkbox" name="selectedCourses[]" value=`${item._id}`)
                        th(scope="row") #{index + 1}
                        td #{item.name}
                        td #{item.Trinhdo}
                        td #{item.deletedAt}
                        td
                            a.btn.btn-primary.btn-sm(href=`/courses/edit/${item._id}`) Sửa
                            button.btn.btn-danger.btn-sm.ml-2(
                                data-bs-toggle="modal" 
                                data-bs-target="#deleteModal"
                                data-id=`${item._id}` 
                                data-name=`${item.name}`) Xóa

        // Modal for deletion confirmation
        .modal.fade#deleteModal(tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true")
            .modal-dialog
                .modal-content
                    .modal-header
                        h5.modal-title#deleteModalLabel Xóa khóa học
                        button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                    .modal-body
                        p Bạn có chắc chắn muốn xóa khóa học: 
                        p#modalCourseName.font-weight-bold
                    .modal-footer
                        button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Hủy
                        button#confirmDeleteBtn.btn.btn-danger(type="button") Xóa
                        form#deleteCourseForm(method="POST" action="/courses/delete" name="delete-courses-form")
                            input(type="hidden" name="courseId" id="courseId")
                            input(type="hidden" name="courseName" id="courseName")
